@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$pink: #c61857;
$navy: #000066;
$maroon: #66023c;
$teal: #1b8aa4;
$marigold: #ffbb33;
$lemon: #fbdb64;

.appContainer {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: column;
    width: 100;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.appHeader {
    font-family: 'Pacifico', cursive;
    color: $pink;
    font-size: 3em;
}

.appSubHeader {
    color: $teal;
    font-size: 1.5em;
    font-weight: bold;
}

.moviesAllContainer {
    display: flex;
    flex-flow: column;
}

.moviesAllTable {
    display: flex;
    flex-flow: column;
    padding: 1.5em;
}

.moviesAllHeaderRow {
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
    border-bottom: 2px solid $marigold;
    height: 2em;
    color: $navy;
}
.headerItem {
    flex: 1;
    padding-left: 10px;
    // border: 1px solid salmon;
}
.moviesAllDetailRow {
    display: flex;
    flex-flow: row nowrap;
}
.detailItem {
    flex: 1;
    padding: 15px 0px 15px 10px;
    border-bottom: 1px solid gray;
    // border: 1px solid blue;
}
.moviesFavoriteContainer {
    
}
.starOutline {
    color: darkgrey;
}
.starFilled {
    color: $lemon;
    -webkit-text-stroke: 2px $marigold;
}
.trashOutline {
    color: #000066;
}
.icon {
    font-size: 1.5em;
    cursor: pointer;
}

.moviePoster {
    width: 100%;
    height: 100%;
}

.clickable {
    cursor: pointer;
}
